<head>
  <title>🐟</title>
  <meta charset="UTF-8">
</head>
<body>
  <form action="https://play.2d.muirauqa.org/_/global/maps.2d.muirauqa.org/iRRland.json" method="get">
    <button>Schwimmen</button>
  </form>
</body>
